Repository dalisoft/appsocket: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint ./src/*.js --fix, eslint ./src/*.jsx --fix, **/build/*.*, **/dist/*.*, **/tmp/*.*

minor fix for redirects
  src/_redirects
Due: none

update favicon tag
  src/template.html
Due: none

fix meta head
  src/template.html
Due: none

fix btn error
  src/components/Content/Message-Form-Bar.js
Due: prettier --write, eslint ./src/*.js --fix

update opengraph image url
  src/template.html
Due: none

fix template og url
  src/template.html
Due: none

fix url
  src/template.html
Due: none

trying to fix this shit
  src/template.html
Due: none

update template.html
  src/template.html
Due: none

add Configure option and ability Reconnect when headers is changed
  src/components/Content/Address-Bar.js
  src/components/Content/Configuration.js
  src/components/Content/Content.js
  src/components/Content/Message-Form-Bar.js
  src/helpers/connect-ws.js
  src/helpers/get-headers.js
  src/store/actions.js
  src/stylesheets/content.css
  src/stylesheets/elements.css
  src/stylesheets/layout.media-queries.css
Due: prettier --write, eslint ./src/*.js --fix

fix headers fetch
  src/components/Content/Address-Bar.js
Due: prettier --write, eslint ./src/*.js --fix

allow usage of cookie
  src/components/Content/Address-Bar.js
  src/components/Content/Configuration.js
  src/helpers/get-headers.js
  src/stylesheets/content.css
  src/stylesheets/elements.css
Due: prettier --write, eslint ./src/*.js --fix

disable fetch temporarily
  src/components/Content/Address-Bar.js
Due: prettier --write, eslint ./src/*.js --fix

removing deskgap and temporarily disallow use of app version
  app.js
  package.json
  src/components/Content/Address-Bar.js
  src/components/Content/AuthConfig.js
  src/components/Content/Configuration.js
  src/components/Content/Content.js
  src/store/actions.js
  src/stylesheets/elements.css
Due: prettier --write, eslint ./src/*.js --fix

fix package script file typo
  package.json
Due: none

fix build progress
  package.json
  src/components/Content/Address-Bar.js
  src/helpers/connect-ws.js
Due: prettier --write, eslint ./src/*.js --fix

update manifest
  src/manifest.json
Due: prettier --write

update manifest
  src/manifest.json
  src/template.html
Due: prettier --write

update style for desktop pwa
  src/stylesheets/layout.media-queries.css
Due: prettier --write

bug fixes
  src/components/Content/Address-Bar.js
  src/components/Content/AuthConfig.js
  src/store/actions.js
  src/stylesheets/content.css
  src/stylesheets/elements.css
Due: prettier --write, eslint ./src/*.js --fix

style-fixes for safari
  src/stylesheets/layout.media-queries.css
Due: prettier --write

update readme
  README.md
Due: none

minor patches to name
  README.md
  src/store/index.js
Due: prettier --write, eslint ./src/*.js --fix

update some styles
  src/stylesheets/layout.media-queries.css
Due: prettier --write

add body and fix variable names
  README.md
  src/components/Content/AuthConfig.js
  src/helpers/normalise-fields.js
  src/store/actions.js
Due: prettier --write, eslint ./src/*.js --fix

style fixing on small screens
  src/stylesheets/layout.media-queries.css
Due: prettier --write

fixing small changes on styles
  src/stylesheets/content.css
  src/stylesheets/layout.media-queries.css
Due: prettier --write

chore(deps): migrate to latest deps
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/settings.json
  package.json
  src/components/Content/AuthConfig.js
  src/components/Content/index.js
  src/components/Layout-Toggler.js
  src/components/Sidebar/index.js
  src/store/actions.js
  src/store/index.js
Due: prettier --write, eslint ./src/*.js --fix

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

github: add funding ways
  .github/FUNDING.yml
Due: none

github: fix funding ways
  .github/FUNDING.yml
Due: none

Path conditions:
  prettier --write: ((any of: src/**/*.{json,css,scss,md,yml}) or (any of: src/**/*.js)) or (any of: src/**/*.jsx)
  eslint ./src/*.js --fix: any of: src/**/*.js
  eslint ./src/*.jsx --fix: any of: src/**/*.jsx
  **/build/*.*: any of: ignore
  **/dist/*.*: any of: ignore
  **/tmp/*.*: any of: ignore
