Repository dalisoft/appsocket: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint ./src/*.js --fix, eslint ./src/*.jsx --fix, **/build/*.*, **/dist/*.*, **/tmp/*.*

.lintstagedrc:

{
  "linters": {
    "src/**/*.{json,css,scss,md,yml}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.js": [
      "prettier --write",
      "eslint ./src/*.js --fix",
      "git add"
    ],
    "src/**/*.jsx": [
      "prettier --write",
      "eslint ./src/*.jsx --fix",
      "git add"
    ],
    "ignore": [
      "**/build/*.*",
      "**/dist/*.*",
      "**/tmp/*.*"
    ]
  }
}

layout finalize step 2 and 3
  .gitignore
  .lintstagedrc
  .stylelintrc
  .vscode/settings.json
  next.config.js
  package-lock.json
  package.json
  src/components/Content/Content.html.jsx
  src/components/Content/Content.js
  src/components/Layout.js
  src/components/Sidebar/Sidebar-Item.html.jsx
  src/components/Sidebar/Sidebar-Item.js
  src/components/Sidebar/Sidebar.html.jsx
  src/components/Sidebar/Sidebar.js
  src/components/index.js
  src/index.js
  src/layout.html.jsx
  src/pages/index.js
  src/static/files/reconnect.svg
  src/store/actions.js
  src/store/index.js
  src/store/state.js
  src/stylesheets/content.css
  src/stylesheets/elements.css
  src/stylesheets/icons.css
  src/stylesheets/index.css
  src/stylesheets/layout.css
  src/stylesheets/layout.media-queries.css
  src/stylesheets/sidebar.css
Due: prettier --write, eslint ./src/*.js --fix, eslint ./src/*.jsx --fix

rewrite app from zeit next to preact
  .eslintrc
  data/session.js
  index.js
  manifest.json
  package-lock.json
  package.json
  src/assets/reconnect.svg
  src/components/Content/Content.js
  src/components/Layout.js
  src/components/Sidebar/Sidebar-Item.js
  src/components/Sidebar/Sidebar.js
  src/index.js
  src/pages/index.js
  src/stylesheets/sidebar.css
  style.css
Due: prettier --write, eslint ./src/*.js --fix

update gitignore
  .gitignore
Due: none

finalize rewrite
  index.js
  next.config.js
  src/components/Content/Content.js
  src/store/actions.js
  src/store/index.js
Due: prettier --write, eslint ./src/*.js --fix

finalize layout and redux store (step 4-5)
  .prettierrc
  src/components/Content/Content.js
  src/components/Layout-Toggler.js
  src/components/Layout.js
  src/components/Sidebar/Sidebar-Item.js
  src/components/Sidebar/Sidebar.js
  src/components/index.js
  src/store/actions.js
  src/stylesheets/elements.css
  src/stylesheets/icons.css
  src/stylesheets/index.css
  src/stylesheets/layout.css
  src/stylesheets/layout.media-queries.css
  src/stylesheets/reset.css
  src/stylesheets/sidebar.css
Due: prettier --write, eslint ./src/*.js --fix

change format of schema
  src/components/Content/Content.js
  src/store/actions.js
Due: prettier --write, eslint ./src/*.js --fix

trying to finalize layout (step 7 & 8)
  package.json
  src/assets/download.svg
  src/assets/upload.svg
  src/components/Content/Address-Bar.js
  src/components/Content/Content.js
  src/components/Content/Message-Form-Bar.js
  src/components/Content/Messages-List.js
  src/components/Content/index.js
  src/components/Sidebar/index.js
  src/components/index.js
  src/store/actions.js
  src/stylesheets/content.css
  src/stylesheets/elements.css
  src/stylesheets/layout.css
  src/stylesheets/layout.media-queries.css
  src/stylesheets/reset.css
Due: prettier --write, eslint ./src/*.js --fix

finalize (step 8-9)
  src/components/Content/Address-Bar.js
  src/components/Content/Message-Form-Bar.js
  src/helpers/connect-ws.js
  src/websockets.js
Due: prettier --write, eslint ./src/*.js --fix

fix color
  src/stylesheets/content.css
Due: prettier --write

fixes and add app lib
  app.js
  package.json
  src/components/Content/Content.js
  src/components/Content/Messages-List.js
  src/store/actions.js
Due: prettier --write, eslint ./src/*.js --fix

fix file
  manifest.json
  src/manifest.json
  style.css
Due: prettier --write

preact: use stable instead of next
  package.json
  src/components/Content/Content.js
  src/components/Content/Message-Form-Bar.js
  src/components/Content/index.js
  src/store/actions.js
Due: prettier --write, eslint ./src/*.js --fix

improve menu and fix some layouts
  app.js
  package.json
  src/components/Content/Address-Bar.js
  src/manifest.json
  src/store/actions.js
  src/stylesheets/elements.css
  src/stylesheets/layout.media-queries.css
  src/stylesheets/sidebar.css
Due: prettier --write, eslint ./src/*.js --fix

fix readme unneeded words
  README.md
Due: none

add readme
  README.md
Due: none

add icon and favicon
  src/assets/favicon.ico
  src/assets/icon.png
Due: none

update readme
  README.md
Due: none

convert html to md on readme
  README.md
Due: none

fix icon path
  app.js
Due: none

fix script and update readme
  README.md
  package.json
Due: none

some minor tweaks
  src/components/Content/Message-Form-Bar.js
  src/stylesheets/elements.css
  src/stylesheets/layout.media-queries.css
Due: prettier --write, eslint ./src/*.js --fix

add load / download session files
  README.md
  package.json
  src/store/index.js
  test-session.json
Due: prettier --write, eslint ./src/*.js --fix

fix manifest and icon
  README.md
  src/assets/icons/apple-touch-icon-114x114.png
  src/assets/icons/apple-touch-icon-120x120.png
  src/assets/icons/apple-touch-icon-144x144.png
  src/assets/icons/apple-touch-icon-152x152.png
  src/assets/icons/apple-touch-icon-57x57.png
  src/assets/icons/apple-touch-icon-60x60.png
  src/assets/icons/apple-touch-icon-72x72.png
  src/assets/icons/apple-touch-icon-76x76.png
  src/assets/icons/code.txt
  src/assets/icons/favicon-128.png
  src/assets/icons/favicon-16x16.png
  src/assets/icons/favicon-196x196.png
  src/assets/icons/favicon-32x32.png
  src/assets/icons/favicon-96x96.png
  src/assets/icons/favicon.ico
  src/assets/icons/mstile-144x144.png
  src/assets/icons/mstile-150x150.png
  src/assets/icons/mstile-310x150.png
  src/assets/icons/mstile-310x310.png
  src/assets/icons/mstile-70x70.png
  src/manifest.json
Due: prettier --write

add more icons
  src/manifest.json
Due: prettier --write

remove unneeded file
  src/assets/icons/code.txt
  test-session.json
Due: none

add template file
  package.json
  src/template.html
Due: none

update template
  src/template.html
Due: none

update template & add preact config
  preact.config.js
  src/template.html
Due: none

add favicon png
  src/template.html
Due: none

disable sourcemap on prod
  preact.config.js
Due: none

revert back preact style merge
  preact.config.js
Due: none

compress images and disable prepender as netlify does this
  package.json
  src/assets/icons/apple-touch-icon-114x114.png
  src/assets/icons/apple-touch-icon-120x120.png
  src/assets/icons/apple-touch-icon-144x144.png
  src/assets/icons/apple-touch-icon-152x152.png
  src/assets/icons/apple-touch-icon-57x57.png
  src/assets/icons/apple-touch-icon-60x60.png
  src/assets/icons/apple-touch-icon-72x72.png
  src/assets/icons/apple-touch-icon-76x76.png
  src/assets/icons/favicon-128.png
  src/assets/icons/favicon-16x16.png
  src/assets/icons/favicon-196x196.png
  src/assets/icons/favicon-32x32.png
  src/assets/icons/favicon-96x96.png
  src/assets/icons/mstile-144x144.png
  src/assets/icons/mstile-150x150.png
  src/assets/icons/mstile-310x150.png
  src/assets/icons/mstile-310x310.png
  src/assets/icons/mstile-70x70.png
Due: none

update icons
  src/assets/favicon.ico
  src/assets/icon.png
  src/assets/icons/android-chrome-192x192.png
  src/assets/icons/android-chrome-512x512.png
  src/assets/icons/apple-touch-icon-114x114.png
  src/assets/icons/apple-touch-icon-120x120.png
  src/assets/icons/apple-touch-icon-144x144.png
  src/assets/icons/apple-touch-icon-152x152.png
  src/assets/icons/apple-touch-icon-57x57.png
  src/assets/icons/apple-touch-icon-60x60.png
  src/assets/icons/apple-touch-icon-72x72.png
  src/assets/icons/apple-touch-icon-76x76.png
  src/assets/icons/apple-touch-icon-precomposed.png
  src/assets/icons/apple-touch-icon.png
  src/assets/icons/favicon-128.png
  src/assets/icons/favicon-16x16.png
  src/assets/icons/favicon-196x196.png
  src/assets/icons/favicon-32x32.png
  src/assets/icons/favicon-96x96.png
  src/assets/icons/favicon.ico
  src/assets/icons/mstile-144x144.png
  src/assets/icons/mstile-150x150.png
  src/assets/icons/mstile-310x150.png
  src/assets/icons/mstile-310x310.png
  src/assets/icons/mstile-70x70.png
  src/browserconfig.xml
  src/manifest.json
  src/safari-pinned-tab.svg
Due: prettier --write

fix template file
  src/assets/icons/safari-pinned-tab.svg
  src/template.html
Due: none

fix ms mobile pwa icon
  package.json
  src/browserconfig.xml
Due: none

add redirects file for netlify
  package.json
  src/_redirects
  src/assets/browserconfig.xml
Due: none

fix redirects
  src/_redirects
Due: none

redirects minor change
  src/_redirects
Due: none
